<app-header title="Encuestas por alumno"></app-header>

<app-loading [show]="!encuestas">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutFill style="margin-left: 25px;margin-right:10px">
    <mat-form-field floatPlaceholder="never">
      <input matInput #filter placeholder="Filtrar alumnos">
    </mat-form-field>
  </div>

  <ng-container *ngFor="let encuesta of (encuestas | async)">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{encuesta.alumno.nombre}} {{encuesta.alumno.apellido}}
        </mat-panel-title>
        <mat-panel-description fxFlex="1 1 50%"></mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let respuesta of comisiones(encuesta.respuestas)">
          <mat-icon mat-list-icon>chevron_right</mat-icon>
          <h4 matLine>
            {{respuesta.materia.nombre}}
          </h4>
          <h4 matLine>
            {{respuesta.comision.descripcion}}
          </h4>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </ng-container>
  <mat-paginator #paginator
                [length]="dataSource?.data.length"
                [pageIndex]="0"
                [pageSize]="12"
                [pageSizeOptions]="[5, 12, 15, 25, 50]">
  </mat-paginator>
</app-loading>
