<app-header title="Materias"></app-header>

<md-table [dataSource]="dataSource">
  <ng-container mdColumnDef="id">
    <md-header-cell *mdHeaderCellDef>ID</md-header-cell>
    <md-cell *mdCellDef="let materia"> {{materia.id}} </md-cell>
  </ng-container>

  <ng-container mdColumnDef="nombre">
    <md-header-cell *mdHeaderCellDef>Nombre</md-header-cell>
    <md-cell *mdCellDef="let materia"> {{materia.nombre}} </md-cell>
  </ng-container>

  <ng-container mdColumnDef="nucleo">
    <md-header-cell *mdHeaderCellDef>Nucleo</md-header-cell>
    <md-cell *mdCellDef="let materia"> {{materia.nucleo}} </md-cell>
  </ng-container>

  <md-header-row *mdHeaderRowDef="columns"></md-header-row>
  <md-row *mdRowDef="let row; columns: columns;"></md-row>
</md-table>

<md-paginator #paginator
              [length]="dataSource?.data.length"
              [pageIndex]="0"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 50]">
</md-paginator>
