<app-header title="Materias"></app-header>

<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let materia"> {{materia.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
    <mat-cell *matCellDef="let materia"> {{materia.nombre}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="nucleo">
    <mat-header-cell *matHeaderCellDef>Nucleo</mat-header-cell>
    <mat-cell *matCellDef="let materia"> {{materia.nucleo}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>

<mat-paginator #paginator
              [length]="dataSource?.data.length"
              [pageIndex]="0"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 50]">
</mat-paginator>
