<div class="header mat-primary">
  <h1>Encuesta de intención de inscripción</h1>
</div>

<app-loading [show]="!cuatrimestres">
  <div class="container">
    <mat-card *ngFor="let c of cuatrimestres" class="mt">
      <mat-card-title>{{c.carrera.nombre}}</mat-card-title>
      <mat-card-content>
        <p>{{c.descripcion}}</p>

        <form #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm, c.id)">
          <mat-form-field>
            <input matInput placeholder="Email" name="email" ngModel>
          </mat-form-field>

          <div>
            <button type="submit" mat-raised-button color="accent" [disabled]="emailForm.submitted">
              <mat-icon>send</mat-icon> LINK DE ENCUESTA
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</app-loading>
