<div class="header mat-primary">
  <h1>Encuesta de intención de inscripción</h1>
</div>

<app-loading [show]="!cuatrimestres">
  <div class="container">
    <md-card *ngFor="let c of cuatrimestres" class="mt">
      <md-card-title>{{c.carrera.nombre}}</md-card-title>
      <md-card-content>
        <p>{{c.descripcion}}</p>

        <form #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm, c.id)">
          <md-form-field>
            <input mdInput placeholder="Email" name="email" ngModel>
          </md-form-field>

          <div>
            <button type="submit" md-raised-button color="accent" [disabled]="emailForm.submitted">
              <md-icon>send</md-icon> LINK DE ENCUESTA
            </button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
</app-loading>
