<div fxLayout="row" fxFill>
  <div fxFlex="20" class="sidebar">
    <mat-nav-list>
      <a mat-list-item routerLink="." routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
      <a mat-list-item routerLink="./alumnos" routerLinkActive="active">Alumnos</a>
      <a mat-list-item routerLink="./materias" routerLinkActive="active">Materias</a>
      <a mat-list-item routerLink="./resumen" routerLinkActive="active">Resumen</a>
      <a mat-list-item routerLink="./encuestas" routerLinkActive="active">Encuestas</a>
    </mat-nav-list>
  </div>

  <div fxFlex="80">
    <router-outlet></router-outlet>
  </div>
</div>
