<app-header title="Admin dashboard"></app-header>

<div fxLayout="column" fxLayoutGap="10px" style="margin: 10px">
  <mat-card>
    <mat-card-title>Porcentaje de encuestas completadas</mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let cuatrimestre of encuestasCuatrimestre">
        <mat-icon mat-list-icon>chevron_right</mat-icon>
        <h4 matLine fxLayoutAlign="space-between center">
          {{cuatrimestre.carrera.nombre}} - {{cuatrimestre.descripcion}}
          <strong>% {{cuatrimestre.porcentaje}}</strong>
        </h4>
        <mat-progress-bar matLine [color]="getColor(cuatrimestre)" [value]="cuatrimestre.porcentaje"></mat-progress-bar>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card>
    <mat-card-title>Materias con problemas de horario</mat-card-title>
    <mat-list style="max-height: 200px; overflow:auto">
      <mat-list-item *ngFor="let materia of materiasHorario">
        <mat-icon mat-list-icon>chevron_right</mat-icon>
        <h4 matLine fxLayoutAlign="space-between center">
          {{materia.materia.nombre}}
          <div>{{materia.total}} alumnos</div>
        </h4>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
