/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
// $candy-app-primary: mat-palette($mat-indigo);
// $candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme(mat-palette($mat-indigo), mat-palette($mat-green));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

body {
  margin: 0;
}

body, html, .container {
  height: 100%;
}

.mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  z-index: 10;
  position: relative;
}

.container {
  margin: 10px;
}

.header {
  padding-left: 20px;
  padding-bottom: 30px;
  background-color: mat-color($primary);
}

.header h1 {
  color: hsla(0,0%,100%,.87);
  font-weight: 300;
  margin: 0;
  padding: 28px 8px 2px 10px;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.header h2 {
  margin: 0;
  color: hsla(0,0%,100%,.87);
  font-weight: 300;
  padding-left: 10px;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.sidebar {
  background: rgba(0,0,0,.03);
}

.mt {
  margin-top: 10px !important;
}

.mt-lg {
  margin-top: 25px !important;
}

.nucleo-card {
  background: rgba(0,0,0,.03);
}
